<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  
   <%# Authentication with devise %>

  <%= render 'partial/alerts' %>
  <% if current_user %>
  <%= current_user.name %>
  <%= button_to 'Log out', destroy_user_session_path, method: :delete , data: { turbo: false } %>
  <% end %>

  <% flash.each do |name, msg|%>
    <ul>
    <li><%= msg %></li>
    </ul>
  <% end %>

    <%= yield %>

  </body>
</html>
