<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <%= render 'partial/alerts' %>
  <% flash.each do |name, msg|%>
    <ul>
    <li><%= msg %></li>
    </ul>
  <% end %>
  <%
=begin%>
 <% if user_signed_in? %> 
<%
=end%>
    <%= yield %>
    <%
=begin%>
 <% else %>
    <a href="/users/sign_in">Sign in</a>
    <% end %> 
<%
=end%>
  </body>
</html>
